/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  /* --main-color: #033a80; */
  /* --main-color: #568203; */
  --main-color: #11b5b2;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);

  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
  /* background: #292828; */
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
hr {
  border: 1px solid #a6a6a846;
  margin: 0 10rem;
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
  font-family: Rubic Gemstones;
  letter-spacing: 0.2rem;
}
.logo:hover {
  color: #0ad1cf;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  /* color: var(--hover); */
  color: #0ad1cf;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
  margin: auto 1.5rem;
}
b {
  background: -webkit-linear-gradient(0deg, #48abe0 0%, #ff00c8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%;
  border-radius: 100%;
  border: 5px solid rgb(255, 153, 0);
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
  /* background: -webkit-linear-gradient(0deg, #48abe0 0%, #ff0078 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.home-text h1 {
  font-size: var(--big-font);
  background: #32a5cf;
  background: linear-gradient(to right, #219fcc 0%, #01e097 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 30px;
  color: var(--text-color);
}
.social a:hover {
  /* color: var(--hover); */
  color: #0ad1cf;
}
.btn {
  display: inline-block;
  /* background: var(--main-color); */
  background: rgb(47, 135, 177);
  background: linear-gradient(-147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(243, 29, 253, 1) 81%);
  color: #fff;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}
.btn:hover {
  /* background: var(--hover); */
  background: rgb(47, 135, 177);
  background: linear-gradient(147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(253, 29, 237, 1) 81%);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-img img {
  width: 100%;
  border-radius: 0.5rem;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}
.information {
  margin: 1.5rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

.education {
  margin: 1.5rem 0 1.4rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img img {
  width: 100%;
  padding-left: 4rem;
  object-position: center;
}

.bars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.bars-box {
  padding: 1rem;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0.7rem;
  border-bottom: 2px solid #646064;
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}

.bars-box:hover {
  /* background-color: #0ad1cf; */
  transition-delay: 2ms;
  background: rgb(47, 135, 177);
  background: linear-gradient(147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(253, 29, 237, 1) 81%);
  border-bottom: 2px solid #0ad1cf;
  transform: translate(10px, 5px);
  transition: 0.6s;
}

.bars-box h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.bars-box:hover h3 {
  color: #fff;
  transition-delay: 2ms;
}

.interests-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}
.interests-box {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.interests-box:hover {
  /* background-color: #02225a; */
  background: rgb(47, 135, 177);
  background: linear-gradient(147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(253, 29, 237, 1) 81%);
  transform: rotate(10deg);
  transition: 0.6s;
}

.interests-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.interests-box:hover h3 {
  color: #fff;
}
.interests-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.interests-box:hover .bx {
  color: #22cf91;
}
.interests-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.interests-box:hover a {
  color: #c8c8c9;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 2rem;
  margin-top: 2rem;
}
.project-img {
  overflow: hidden;
  border-radius: 0 0.5rem;
}
.project-img img {
  width: 100%;
  display: block;
}
.project-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0 0.5rem;
  margin: 1rem 0;
}
.project-btn:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 84%, 88%, 0.684);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  /* background: #2768d9; */
  background: #0ad1cf;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  /* background: var(--hover); */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  /* background: #ebebeb; */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, #00d4ff 100%);
  color: rgb(255, 255, 255);
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  /* letter-spacing: 0.2rem; */
}
.footer-social a i {
   color: #ffffff;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-social a i:hover {
  /* background: rgb(47, 135, 177);
  background: linear-gradient(147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(253, 29, 29, 1) 81%); */
  color: #12568d;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  transition: 0.2s;
}

.copyright {
  padding: 20px;
  /* background: rgb(41, 40, 40); */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(0, 212, 255) 100%);
  text-align: center;
  color: #fff;
}
.copyright a {
  color: #0ddfff;
  font-weight: 600;
}
/* Making it Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    /* grid-template-columns: 0.5fr 3fr; */
    grid-template-columns: 1fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form {
    width: 300px;
  }
  .contact-button {
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  .project-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form {
    width: 300px;
  }
  .contact-button {
    margin-left: 25%;
  }
}
